In [229]:
import pandas as pd
import requests
import praw
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
from datetime import datetime, timedelta
import pytz

In [230]:
sp = pd.read_csv("sp500_2019.csv")
sp['Open'] = sp['Open'].str.replace(',', '')
sp['Close'] = sp['Close'].str.replace(',', '')
sp['Open'] = pd.to_numeric(sp['Open'])
sp['Close'] = pd.to_numeric(sp['Close'])
sp['DayResult'] = sp['Open'] - sp['Close']
sp['Result'] = sp['DayResult'].map(lambda x: x >= 0)

def formatDate(originalDate):
    ans = ""
    parts = originalDate.split("/")
    ans += parts[2]
    ans += "-"
    ans += parts[0]
    ans += "-"
    ans += parts[1]
    return ans  

sp['Date'] = sp["Date"].apply(lambda date: formatDate(date))
sp['Date'] = sp['Date'].values[::-1]
sp.head(3)
#print(sp.shape)

         Date     Open      High       Low    Close  DayResult  Result
0  2019-01-02  3215.18  3,231.72  3,212.03  3230.78     -15.60   False
1  2019-01-03  3240.09  3,240.92  3,216.57  3221.29      18.80    True
2  2019-01-04  3247.23  3,247.93  3,234.37  3240.02       7.21    True

In [231]:
news = pd.read_csv("top25news2019.csv")
#news = news.drop(news.columns[0], axis=1)
stockDaysList = sp['Date'].tolist()
news['Active'] = news['Date'].apply(lambda date: date in stockDaysList)
news = news[news['Active'] == True]
news.reset_index(inplace=True)
news = news.drop(news.columns[0], axis=1)
news = news.drop(news.columns[26], axis=1)
print(news.shape)

(255, 26)

In [232]:
news['Result'] = sp['Result'].astype(int)
cols = news.columns.tolist()
cols.insert(1, cols[-1])
cols = cols[:-1]
news = news[cols]

In [233]:
news = news.fillna(5)
news = news.astype({"Result": int})
news.to_csv('completeNewsSet2019.csv', index=False)
news.head()

         Date  Result  ...                                              Top24                                              Top25
0  2019-01-02       0  ...  Netflix Drops Hasan Minhaj Episode In Saudi Ar...  Nasa's New Horizons: 'Snowman' shape of distan...
1  2019-01-03       1  ...  Mexican experts have found the first temple of...  Russia Announces Plans To Set Up Its First Eve...
2  2019-01-04       1  ...  Heatwave conditions predicted to affect Austra...  Brazilian President Jair Bolsonaro—whose inaug...
3  2019-01-07       0  ...  Global warming of oceans is equivalent to an a...  Britons would now vote to stay in EU, want sec...
4  2019-01-08       1  ...  Chinese scientist who genetically edited babie...  The monarch butterfly population in California...

[5 rows x 27 columns]